<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>个人信息 - Powered By JeeSite</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="author" content="http://jeesite.com/"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script src="../../static/static/jquery/jquery-1.8.3.min.js" th:src="@{/static/jquery/jquery-1.8.3.min.js}"
            type="text/javascript"></script>
    <link href="../../static/static/bootstrap/2.3.1/css_cerulean/bootstrap.min.css"
          th:href="@{/static/bootstrap/2.3.1/css_cerulean/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
    <script src="../../static/static/bootstrap/2.3.1/js/bootstrap.min.js"
            th:src="@{/static/bootstrap/2.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
    <link href="../../static/static/bootstrap/2.3.1/awesome/font-awesome.min.css"
          th:href="@{/static/bootstrap/2.3.1/awesome/font-awesome.min.css}" type="text/css" rel="stylesheet"/>
    <link href="../../static/static/jquery-select2/3.4/select2.min.css"
          th:href="@{/static/jquery-select2/3.4/select2.min.css}" rel="stylesheet"/>
    <script src="../../static/static/jquery-select2/3.4/select2.min.js"
            th:src="@{/static/jquery-select2/3.4/select2.min.js}" type="text/javascript"></script>
    <link href="../../static/static/jquery-validation/1.11.0/jquery.validate.min.css"
          th:href="@{/static/jquery-validation/1.11.0/jquery.validate.min.css}" type="text/css" rel="stylesheet"/>
    <script src="../../static/static/jquery-validation/1.11.0/jquery.validate.min.js"
            th:src="@{/static/jquery-validation/1.11.0/jquery.validate.min.js}" type="text/javascript"></script>
    <link href="../../static/static/jquery-jbox/2.3/Skins/Bootstrap/jbox.min.css"
          th:href="@{/static/jquery-jbox/2.3/Skins/Bootstrap/jbox.min.css}" rel="stylesheet"/>
    <script src="../../static/static/jquery-jbox/2.3/jquery.jBox-2.3.min.js"
            th:src="@{/static/jquery-jbox/2.3/jquery.jBox-2.3.min.js}" type="text/javascript"></script>
    <script src="../../static/static/My97DatePicker/WdatePicker.js" th:src="@{/static/My97DatePicker/WdatePicker.js}"
            type="text/javascript"></script>
    <script src="../../static/static/common/mustache.min.js" th:src="@{/static/common/mustache.min.js}"
            type="text/javascript"></script>
    <link href="../../static/static/common/jeesite.css" th:href="@{/static/common/jeesite.css}" type="text/css"
          rel="stylesheet"/>
    <script src="../../static/static/common/jeesite.js" th:src="@{/static/common/jeesite.js}"
            type="text/javascript"></script>
    <script type="text/javascript">var ctx = '/a', ctxStatic = '/static';</script>
    <link href="../../static/css/fileCSS.css" th:href="@{/css/fileCSS.css}" type="text/css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/updateImges.js" th:src="@{/js/updateImges.js}"></script>
    <!-- Baidu tongji analytics -->
    <script>var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?82116c626a8d504a5c0675073362ef6f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>


    <meta name="decorator" content="default"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#inputForm").validate({
                submitHandler: function (form) {
                    loading('正在提交，请稍等...');
                    form.submit();
                },
                errorContainer: "#messageBox",
                errorPlacement: function (error, element) {
                    $("#messageBox").text("输入有误，请先更正。");
                    if (element.is(":checkbox") || element.is(":radio") || element.parent().is(".input-append")) {
                        error.appendTo(element.parent().parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        });
    </script>

</head>
<body>

<ul class="nav nav-tabs">
    <li class="active"><a href="toPersonageMessage" th:href="@{'/toPersonageMessage'}">个人信息</a></li>
    <li><a href="xiugaimima.html" th:href="@{'/toUpdatePassword'}">修改密码</a></li>
</ul>
<br/>
<form id="inputForm" class="form-horizontal" action="save" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${agentMsg.id}"/>
    <script type="text/javascript">top.$.jBox.closeTip();</script>
    <div class="control-group">
        <label class="control-label">头像:</label>
        <img src="" id="loc_img"  width="150" height="150"/>
        <div class="controls">
            <input id="nameImage" name="headSculpture" maxlength="255" class="input-xlarge" type="hidden"
                   th:value="${agentMsg.headSculpture}"/>
            <ol id="nameImagePreview"></ol>
            <a class="file">选择
                <input type="file" name="headSculptureFile" id="headSculptureFile" class="file"/>
            </a>
            <!--<a href="javascript:" onclick="nameImageDelAll();" class="file">清除</a>-->
            <script type="text/javascript">
                function nameImageFinderOpen() {//
                    var date = new Date(), year = date.getFullYear(),
                        month = (date.getMonth() + 1) > 9 ? date.getMonth() + 1 : "0" + (date.getMonth() + 1);
                    var url = "user/xiugaimima";
                    windowOpen(url, "文件管理", 1000, 700);
                    //top.$.jBox("iframe:"+url+"&pwMf=1", {title: "文件管理", width: 1000, height: 500, buttons:{'关闭': true}});
                }
                function nameImageSelectAction(fileUrl, data, allFiles) {
                    var url = "", files = ckfinderAPI.getSelectedFiles();
                    for (var i = 0; i < files.length; i++) {//
                        url += files[i].getUrl();//
                        if (i < files.length - 1) url += "|";
                    }//
                    $("#nameImage").val(url);//
                    nameImagePreview();
                    //top.$.jBox.close();
                }
                function nameImageThumbSelectAction(fileUrl, data, allFiles) {
                    var url = "", files = ckfinderAPI.getSelectedFiles();
                    for (var i = 0; i < files.length; i++) {
                        url += files[i].getThumbnailUrl();
                        if (i < files.length - 1) url += "|";
                    }//
                    $("#nameImage").val(url);//
                    nameImagePreview();
                    //top.$.jBox.close();
                }
                function nameImageCallback(api) {
                    ckfinderAPI = api;
                }
                function nameImageDel(obj) {
                    var url = $(obj).prev().attr("url");
                    $("#nameImage").val($("#nameImage").val().replace("|" + url, "", "").replace(url + "|", "", "").replace(url, "", ""));
                    nameImagePreview();
                }
                function nameImageDelAll() {
                    $("#nameImage").val("");
                    nameImagePreview();
                }
                function nameImagePreview() {
                    var li, urls = $("#nameImage").val().split("|");
                    $("#nameImagePreview").children().remove();
                    for (var i = 0; i < urls.length; i++) {
                        if (urls[i] != "") {//
                            li = "<li><img class='imgList' src=\"" + urls[i] + "\" url=\"" + urls[i] + "\" style=\"max-width:100px;max-height:100px;_height:100px;border:0;padding:3px;\">";//
                            li += "&nbsp;&nbsp;<a href=\"javascript:\" onclick=\"nameImageDel(this);\">×</a></li>";
                            $("#nameImagePreview").append(li);
                        }
                    }
                    if ($("#nameImagePreview").text() == "") {
                        $("#nameImagePreview").html("<li style='list-style:none;padding-top:5px;'>无</li>");
                    }
                }
                nameImagePreview();
            </script>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">归属公司:</label>
        <div class="controls">
            <label class="lbl" th:text="${agentMsg.companyAffiliation}"></label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">归属部门:</label>
        <div class="controls">
            <label class="lbl" th:text="${agentMsg.attributionDepartment}"></label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">姓名:</label>
        <div class="controls">
            <input id="name" class="required" readonly="readonly" type="text" th:value="${agentMsg.name}"
                   maxlength="50"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">邮箱:</label>
        <div class="controls">
            <input id="email" name="email" class="email" type="text" th:value="${agentMsg.email}" maxlength="50"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">电话:</label>
        <div class="controls">
            <input id="phone" name="phone" type="text" th:value="${agentMsg.phone}" maxlength="50"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">手机:</label>
        <div class="controls">
            <input id="mobile" name="mobilePhone" type="text" th:value="${agentMsg.mobilePhone}" maxlength="50"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">备注:</label>
        <div class="controls">
            <textarea id="remarks" name="remark" maxlength="200" class="input-xlarge" rows="3"
                      th:text="${agentMsg.remark}"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">用户类型:</label>
        <div class="controls">
            <label class="lbl" th:text="${agentMsg.userType}"></label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">用户角色:</label>
        <div class="controls">
            <label class="lbl" th:text="${agentMsg.role}"></label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">上次登录:</label>
        <div class="controls">
            <label class="lbl">IP: <span name="lastIp"
                                         th:text="${agentMsg.lastIp}"></span>&nbsp;&nbsp;&nbsp;&nbsp;时间：<span
                    name="lastLoginTime" th:text="${agentMsg.lastLoginTime}"></span></label>
        </div>
    </div>
    <div class="form-actions">
        <input id="btnSubmit" class="btn btn-primary" type="submit" value="保 存"/>
    </div>
</form>

<script type="text/javascript">//<!-- 无框架时，左上角显示菜单图标按钮。
if (!(self.frameElement && self.frameElement.tagName == "IFRAME")) {
    $("body").prepend("<i id=\"btnMenu\" class=\"icon-th-list\" style=\"cursor:pointer;float:right;margin:10px;\"></i><div id=\"menuContent\"></div>");
    $("#btnMenu").click(function () {
        top.$.jBox('get:/a/sys/menu/treeselect;JSESSIONID=5820d85e952a431e9732ce111db7d1f8', {
            title: '选择菜单',
            buttons: {'关闭': true},
            width: 300,
            height: 350,
            top: 10
        });
        //if ($("#menuContent").html()==""){$.get("/a/sys/menu/treeselect", function(data){$("#menuContent").html(data);});}else{$("#menuContent").toggle(100);}
    });
}//-->
</script>
</body>
</html>