<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>代理商管理 - Powered By JeeSite</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /><meta name="author" content="http://jeesite.com/"/>
    <meta name="renderer" content="webkit"><meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" />
    <meta http-equiv="Expires" content="0"><meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script src="../../../static/static/jquery/jquery-1.8.3.min.js" type="text/javascript"
            th:src="@{/static/jquery/jquery-1.8.3.min.js}"></script>
    <link href="../../../static/static/bootstrap/2.3.1/css_cerulean/bootstrap.min.css" type="text/css" rel="stylesheet"
            th:href="@{/static/bootstrap/2.3.1/css_cerulean/bootstrap.min.css}"/>
    <script src="../../../static/static/bootstrap/2.3.1/js/bootstrap.min.js" type="text/javascript"
            th:src="@{/static/bootstrap/2.3.1/js/bootstrap.min.js}"></script>
    <link href="../../../static/static/bootstrap/2.3.1/awesome/font-awesome.min.css" type="text/css" rel="stylesheet"
          th:href="@{/static/bootstrap/2.3.1/awesome/font-awesome.min.css}"/>
    <link href="../../../static/static/jquery-select2/3.4/select2.min.css" rel="stylesheet"
          th:href="@{/static/jquery-select2/3.4/select2.min.css}"/>
    <script src="../../../static/static/jquery-select2/3.4/select2.min.js" type="text/javascript"
            th:src="@{/static/jquery-select2/3.4/select2.min.js}"></script>
    <link href="../../../static/static/jquery-validation/1.11.0/jquery.validate.min.css" type="text/css" rel="stylesheet"
          th:href="@{/static/jquery-validation/1.11.0/jquery.validate.min.css}"/>
    <script src="../../../static/static/jquery-validation/1.11.0/jquery.validate.min.js" type="text/javascript"
            th:src="@{/static/jquery-validation/1.11.0/jquery.validate.min.js}"></script>
    <link href="../../../static/static/jquery-jbox/2.3/Skins/Bootstrap/jbox.min.css" rel="stylesheet"
          th:href="@{/static/jquery-jbox/2.3/Skins/Bootstrap/jbox.min.css}"/>
    <script src="../../../static/static/jquery-jbox/2.3/jquery.jBox-2.3.min.js" type="text/javascript"
            th:src="@{/static/jquery-jbox/2.3/jquery.jBox-2.3.min.js}"></script>
    <script src="../../../static/static/My97DatePicker/WdatePicker.js" type="text/javascript"
            th:src="@{/static/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../../static/static/common/mustache.min.js" type="text/javascript"
            th:src="@{/static/common/mustache.min.js}"></script>
    <link href="../../../static/static/common/jeesite.css" type="text/css" rel="stylesheet"
          th:href="@{/static/common/jeesite.css}"/>
    <script src="../../../static/static/common/jeesite.js" type="text/javascript"
            th:src="@{/static/common/jeesite.js}"></script>
    <meta name="decorator" content="default" />
    <link rel="stylesheet" href="../../../static/static/jquery-ui/ui.css"
          th:href="@{/static/jquery-ui/ui.css}">
    <script src="../../../static/static/jquery-ui/ui.js"
            th:src="@{/static/jquery-ui/ui.js}"></script>
    <style>
        /* Loading Spinner */
        .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
    </style>
    <script type="text/javascript">
    </script>

</head>
<body>

<ul class="nav nav-tabs">
    <li class="active"><a
            href="#">代理商详情</a></li>
</ul>
<br />
<form id="inputForm" class="form-horizontal" action="#" method="post">
    <input id="id" name="id" type="hidden" value="158"/>
    <script type="text/javascript">top.$.jBox.closeTip();</script>

    <table>
        <h6>代理商信息</h6>
        <hr width="100%" style="border:1px solid #008fe2;"/>
        <tr>
            <td><div class="control-group" style="width: 450px;">
                <label class="control-label">代理商编号：</label>
                <div class="controls">
                    <span th:text="${agent.agentNumber}">Q</span>
                </div>
            </div>
            </td>
            <td><div class="control-group" style="width: 450px;">
                <label class="control-label">代理商秘钥：</label>
                <div class="controls">
                   <span th:text="${agent.secretKey}">Q</span>
                </div>
            </div>
            </td>
        </tr>
        <tr>
            <td><div class="control-group" style="width: 450px;">
                <label class="control-label">代理商全称：</label>
                <div class="controls">
                    <span th:text="${agent.agentFullName}">Q</span>
                </div>
            </div></td>
            <td>
                <div class="control-group">
                    <label class="control-label">代理商简称：</label>
                    <div class="controls">
                        <span th:text="${agent.shortName}">Q</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control-group">
                    <label class="control-label">代理商联系电话：</label>
                    <div class="controls">
                        <span th:text="${agent.agentContactPhone}">Q</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="control-group">
                    <label class="control-label">代理商邮箱：</label>
                    <div class="controls">
                        <span th:text="${agent.email}">Q</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control-group">
                    <label class="control-label">代理商公众号：</label>
                    <div class="controls">
                        <span th:text="${agent.officiallyAccounts}">Q</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="control-group">
                    <label class="control-label">审核状态：</label>
                    <div class="controls">
                        <div th:switch="${agent.auditStatus}">
                            <span th:case="0">待审核</span>
                            <span th:case="1">审核通过</span>
                            <span th:case="2">审核拒绝</span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control-group">
                    <label class="control-label">代理商业务区域范围：</label>
                    <div class="controls">
                        <span th:text="${agent.businessArea}">Q</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control-group">
                    <label class="control-label">账户类型 ：</label>
                    <div class="controls">

                        <span th:text="${agent.accountType}">Q</span>


                    </div>
                </div>
            </td>
            <td>
                <div class="control-group">
                    <label class="control-label">开户户名：</label>
                    <div class="controls">
                        <span th:text="${agent.registerBankName}">Q</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control-group">
                    <label class="control-label">开户卡号：</label>
                    <div class="controls">
                        <span th:text="${agent.registerCardNumber}">Q</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="control-group">
                    <label class="control-label">开户行名称：</label>
                    <div class="controls">
                        <span th:text="${agent.registerAccountName}">Q</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="control-group">
                    <label class="control-label">开卡省份：</label>
                    <div class="controls">
                        <span th:text="${agent.registerCardProvinces}">Q</span>
                    </div>
                </div>
            </td>

            <td>
                <div class="control-group">
                    <label class="control-label">开卡城市：</label>
                    <div class="controls">
                        <span th:text="${agent.registerCardCity}">Q</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td><div class="control-group">
                <label class="control-label">支行：</label>
                <div class="controls">
                    <span th:text="${agent.subBranchBank}">Q</span>
                </div>
            </div></td>
            <td>
                <div class="control-group">
                    <label class="control-label">联行号：</label>
                    <div class="controls">
                        <span  th:text="${agent.unionBankNumber}">Q</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="control-group">
        <label class="control-label">通道费率设置：</label>
        <div id="tabs">
            <ul>

                <li><a href="#tabs-1">微信线下支付</a></li>

            </ul>

            <div id="tabs-1" >
                <input type="hidden" name="brcbChannelFeeList[0].channelNum" value="WECHAT">
                <table>
                    <tr>
                        <td>
                            <div class="control-group">
                                <label class="control-label">进件权限：</label>
                                <div class="controls">

                                    <span>可进件</span>


                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <label class="control-label">分润权限：</label>
                                <div class="controls">

                                    <span>可分润</span>


                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="control-group">
                                <label class="control-label">是否开通：</label>
                                <div class="controls">

                                    <span>开通</span>


                                </div>
                            </div>
                        </td>

                    </tr>


                    <tr>
                        <td><div class="control-group">
                            <label class="control-label">签约费率%：</label>
                            <div class="controls">
                                <span>0.30</span>
                            </div>
                        </div></td>
                        <td>
                            <div class="control-group">
                                <label class="control-label">T+0状态：</label>
                                <div class="controls">
                                    <span>未开通</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</form>

<a id="btnCancel" class="btn" type="button" href="/brcd/agent/getAgent">返回</a>
<script type="text/javascript">
    $(function(){
        $("#tabs").tabs();
    })
</script>
</body>
</html>