<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
        #iframeLeft{
            width: 17%;
            height: 700px;
            float: left;
        }
        #iframeContent{
            width: 82%;
            height:900px;
        }
    </style>
<body>
    <iframe id="iframeLeft" name="" frameborder="0"  scrolling = "no" src="/brcd/agent/toAgetnTree"></iframe>
    <iframe id="iframeContent" name="iframeContent" scrolling = "no" frameborder="0" src="/brcd/agent/getAgent"></iframe>
</body>
</html>