<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>商户信息管理 - Powered By JeeSite</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /><meta name="author" content="http://jeesite.com/"/>
    <meta name="renderer" content="webkit"><meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" />
    <meta http-equiv="Expires" content="0"><meta http-equiv="Cache-Control" content="no-cache"><meta http-equiv="Cache-Control" content="no-store">
    <script src="../../../static/static/jquery/jquery-1.8.3.min.js" type="text/javascript"
    th:src="@{../static/jquery/jquery-1.8.3.min.js}"></script>
    <link href="../../../static/static/bootstrap/2.3.1/css_cerulean/bootstrap.min.css" type="text/css" rel="stylesheet"
    th:href="@{../static/bootstrap/2.3.1/css_cerulean/bootstrap.min.css}"/>
    <script src="../../../static/static/bootstrap/2.3.1/js/bootstrap.min.js" type="text/javascript"
    th:src="@{../static/bootstrap/2.3.1/js/bootstrap.min.js}"></script>
    <link href="../../../static/static/bootstrap/2.3.1/awesome/font-awesome.min.css" type="text/css" rel="stylesheet"
    th:href="@{../static/bootstrap/2.3.1/awesome/font-awesome.min.css}"/>
    <link href="../../../static/static/jquery-select2/3.4/select2.min.css" rel="stylesheet"
    th:href="@{../static/jquery-select2/3.4/select2.min.css}"/>
    <script src="../../../static/static/jquery-select2/3.4/select2.min.js" type="text/javascript"
    th:src="@{../static/jquery-select2/3.4/select2.min.js}"></script>
    <link href="../../../static/static/jquery-validation/1.11.0/jquery.validate.min.css" type="text/css" rel="stylesheet"
    th:href="@{../static/jquery-validation/1.11.0/jquery.validate.min.css}"/>
    <script src="../../../static/static/jquery-validation/1.11.0/jquery.validate.min.js" type="text/javascript"
    th:src="@{../static/jquery-validation/1.11.0/jquery.validate.min.js}"></script>
    <link href="../../../static/static/jquery-jbox/2.3/Skins/Bootstrap/jbox.min.css" rel="stylesheet"
    th:href="@{../static/jquery-jbox/2.3/Skins/Bootstrap/jbox.min.css}"/>
    <script src="../../../static/static/jquery-jbox/2.3/jquery.jBox-2.3.min.js" type="text/javascript"
    th:src="@{../static/jquery-jbox/2.3/jquery.jBox-2.3.min.js}"></script>
    <script src="../../../static/static/My97DatePicker/WdatePicker.js" type="text/javascript"
    th:src="@{../static/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../../static/static/common/mustache.min.js" type="text/javascript"
    th:src="@{../static/common/mustache.min.js}"></script>
    <link href="../../../static/static/common/jeesite.css" type="text/css" rel="stylesheet"
    th:href="@{../static/common/jeesite.css}"/>
    <script src="../../../static/static/common/jeesite.js" type="text/javascript"
    th:src="@{../static/common/jeesite.js}"></script>
    <script type="text/javascript">var ctx = '/a', ctxStatic='/static';</script>
    <!-- Baidu tongji analytics --><script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?82116c626a8d504a5c0675073362ef6f";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>


    <meta name="decorator" content="default"/>
    <script type="text/javascript">
        $(document).ready(function() {

        });
        $(function(){
            Date.prototype.Format = function(fmt){
                var o = {
                    "M+" : this.getMonth()+1,                 //月份
                    "d+" : this.getDate(),                    //日
                    "h+" : this.getHours(),                   //小时
                    "m+" : this.getMinutes(),                 //分
                    "s+" : this.getSeconds(),                 //秒
                    "q+" : Math.floor((this.getMonth()+3)/3), //季度
                    "S"  : this.getMilliseconds()             //毫秒
                };
                if(/(y+)/.test(fmt))
                    fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
                for(var k in o)
                    if(new RegExp("("+ k +")").test(fmt))
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                return fmt;
            }
            /* if($("#endDate").val() == '' || $("#beginDate").val() == ''){
             var date = new Date();
             var endDate = date.Format("yyyy-MM-dd");
             $("#endDate").val(endDate);
             date.setDate(date.getDate() - 7);
             var startDate = date.Format("yyyy-MM-dd");
             $("#beginDate").val(startDate);
             } */

            /* $("#beginDate").focus(function(){
             $("#endDate").attr("onclick","WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});")
             }); */

            /* $("#beginDate").select(function(){
             var beginDate = $(this).val();
             var dt = new Date(beginDate);
             //date.setDate(date.getDate() + 7);
             dt.setMonth(dt.getMonth() + 1);
             var dateStr = dt.Format("yyyy-MM-dd");
             $("#endDate").val(dateStr);
             $("#endDate").attr("onclick","WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,minDate:'"+beginDate+"',maxDate:'"+dateStr+"'});")
             }) */

            $("#beginDate").select(function(){
                var beginDate = $(this).val();
                $("#endDate").val("");
                $("#endDate").attr("onclick","WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,minDate:'"+beginDate+"'});")
            })

            $("#btnSubmit").click(function(){
                var beginDate = $("#beginDate").val();
                var endDate = $("#endDate").val();
                if((beginDate == "" && endDate != "") || (endDate == "" && beginDate != "")){
                    alert("请输入开始时间和结束时间");
                    return;
                }
                $("#searchForm").submit();
            })
        })
        function page(n,s){
            $("#pageNo").val(n);
            $("#pageSize").val(s);
            $("#searchForm").submit();
            return false;
        }

        function showApikey(ele){
            $(ele).css("display","none");
            $(ele).next().css("display","block");
        }

        function exportExcel() {
            top.$.jBox.confirm("确认要导出用户数据吗？","系统提示",function(v,h,f){
                if(v=="ok"){
                    $("#searchForm").attr("action","/a/operate/customer/brcbCustomer/exportExcel");
                    $("#searchForm").submit();
                    $("#searchForm").attr("action","/a/operate/customer/brcbCustomer/list");
                }
            },{buttonsFocus:1});
        }

    </script>

</head>
<body>

<ul class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0)">商户信息列表</a></li>
</ul>
<form id="searchForm" class="breadcrumb form-search" action="/a/operate/customer/brcbCustomer/list" method="post">
    <input id="pageNo" name="pageNo" type="hidden" value="1"/>
    <input id="pageSize" name="pageSize" type="hidden" value="15"/>
    <input id="operate" name="operate" type="hidden" value="edit"/>
    <ul class="ul-form">
        <li><label>商户编号：</label>
            <input id="customerNum" name="customerNum" class="input-medium" type="text" value="" maxlength="32"/>
        </li>
        <li style="margin-left: 60px;"><label>商户类型：</label>
            <select id="customerType" name="customerType" style="width:155px;" class="input-medium">
                <option value="" selected="selected">--请选择商户类型--</option>
                <option value="ENTERPRISE">企业商户</option>
                <option value="PERSONAL">个人商户</option>
            </select>
        </li>
        <li style="margin-left: 60px;"><label>法人姓名：</label>
            <input id="legalName" name="legalName" class="input-medium" type="text" value="" maxlength="32"/>
        </li>
        <li><label>商户手机号：</label>
            <input id="contactPhone" name="contactPhone" class="input-medium" type="text" value="" maxlength="255"/>
        </li>
    </ul>
    <ul class="ul-form">
        <li><label>经营名称：</label>
            <input id="businessName" name="businessName" class="input-medium" type="text" value="" maxlength="255"/>
        </li>
        <li style="margin-left: 60px;"><label>商户状态：</label>
            <select id="customerStatus" name="customerStatus" style="width:155px;" class="input-medium">
                <option value="" selected="selected">--请选择商户状态--</option>
                <option value="INIT">待审核</option>
                <option value="APPROVAL">审核通过</option>
                <option value="REJECT">审核拒绝</option>
            </select>
        </li>

    </ul>
    <ul class="ul-form">
        <li><label>起始时间：</label>
            <input id="beginDate"  name="beginDate"  type="text" readonly="readonly" maxlength="20" class="input-medium Wdate" style="width:143px;position: relative;"
                   value=""
                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
        </li>
        <li style="margin-left: 60px;">
            <label>结束时间：</label>
            <input id="endDate" name="endDate" type="text" readonly="readonly" maxlength="20" class="input-medium Wdate"  style="width:143px;position: relative;"
                   value=""
                   onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
        </li>

        <li class="btns" style="margin-left: 60px;"><input id="btnSubmit" style="margin-left: 16px" class="btn btn-primary" type="button" value="查询"/></li>
        <li class="btns"><input class="btn btn-primary" type="button" value="导出excel" onclick="exportExcel()"/></li>
        <li class="clearfix"></li>
    </ul>
</form>
















<script type="text/javascript">top.$.jBox.closeTip();</script>

<table id="contentTable" class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
        <th>商户编号</th>
        <th>商户类型</th>
        <th>法人姓名</th>
        <!-- <th>经营行业</th> -->
        <th>经营名称</th>
        <th>商户状态</th>
        <th>商户秘钥</th>
        <!-- 	<th>T+0开通状态</th> -->
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div class="pagination"><ul>
    <li class="disabled"><a href="javascript:">&#171; 上一页</a></li>
    <li class="active"><a href="javascript:">1</a></li>
    <li class="disabled"><a href="javascript:">下一页 &#187;</a></li>
    <li class="disabled controls"><a href="javascript:">每页 <input type="text" value="15" onkeypress="var e=window.event||event;var c=e.keyCode||e.which;if(c==13)page(1,this.value,'');" onclick="this.select();"/> 条，共 0 条， 共 0 页</a></li>
</ul>
    <div style="clear:both;"></div></div>

<script type="text/javascript">//<!-- 无框架时，左上角显示菜单图标按钮。
if(!(self.frameElement && self.frameElement.tagName=="IFRAME")){
    $("body").prepend("<i id=\"btnMenu\" class=\"icon-th-list\" style=\"cursor:pointer;float:right;margin:10px;\"></i><div id=\"menuContent\"></div>");
    $("#btnMenu").click(function(){
        top.$.jBox('get:/a/sys/menu/treeselect;JSESSIONID=5820d85e952a431e9732ce111db7d1f8', {title:'选择菜单', buttons:{'关闭':true}, width:300, height: 350, top:10});
        //if ($("#menuContent").html()==""){$.get("/a/sys/menu/treeselect", function(data){$("#menuContent").html(data);});}else{$("#menuContent").toggle(100);}
    });
}//-->
</script>
</body>
</html>