<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brcd.mapper.AgentMapper">
    <!--测试-->
     <select id="findAll" resultType="com.brcd.bean.TbAgent">
         SELECT * FROM tb_agent
     </select>
    <!--查询的sql-->
    <sql id="selectSql">
      id,agent_number,short_name,agent_grade,agent_contact_phone,audit_status,business_Area,into_permissions,share_benefit,
      rate
    </sql>
    <!--条件查询代理商信息-->
     <select id="getAgent" resultType="com.brcd.bean.TbAgent" parameterType="com.brcd.bean.TbAgent">
         SELECT  <include refid="selectSql"/> FROM tb_agent
         <where>
               <if test="agentNumber!=null and agentNumber!=''">
                   AND agent_number=#{agentNumber}
               </if>
               <if test="null!=agentGrade and ''!=agentGrade">
                   AND agent_grade=#{agentGrade}
               </if>
             <if test="agentContactPhone!=null and agentContactPhone!=''">
                 AND agent_contact_phone=#{agentContactPhone}
             </if>
             <if test="shortName!=null and shortName!=''">
                 <bind name="pattern" value="'%' + shortName + '%'" />
                 AND short_name LIKE #{pattern}
             </if>
             <if test='auditStatus!=null'>
                 AND audit_status=#{auditStatus}
             </if>

         </where>
     </select>
    <!--根据id查询代理商详细信息-->
    <select id="findAgentById" resultType="com.brcd.bean.TbAgent" parameterType="java.lang.Long">
        SELECT * FROM tb_agent
        <where>
            id=#{id}
        </where>
    </select>
    <!--添加sql-->
    <sql id="insertSql">
         agent_number,agent_grade,agent_full_name,agent_contact_phone,officially_Accounts,business_Area,
         account_type,register_card_number,register_card_provinces,sub_branch_bank,secret_key,short_name,
         audit_status,register_bank_name,register_account_name,register_card_city,union_bank_number,into_permissions,
         share_benefit,whether_dredge,rate,t_and_o_status,superior_agency_id,original_agency_id,account,password,
         last_ip,last_login_time,role,user_type,head_sculpture,company_affiliation,attribution_department,`name`,
         email,phone,mobile_phone,remark
    </sql>
    <sql id="insertValueSql">
         #{agent_number},
            #{agent_grade},
            #{agent_full_name},
            #{agent_contact_phone},
            #{officially_Accounts},
            #{business_Area},
            #{account_type},
            #{register_card_number},
            #{register_card_provinces},
            #{sub_branch_bank},
            #{secret_key},
            #{short_name},
            #{audit_status},
            #{register_bank_name},
            #{register_account_name},
            #{register_card_city},
            #{union_bank_number},
            #{into_permissions},
            #{share_benefit},
            #{whether_dredge},
            #{rate},
            #{t_and_o_status},
            #{superior_agency_id},
            #{original_agency_id},
            #{account},
            #{password},
            #{last_ip},
            #{last_login_time},
            #{role},
            #{user_type},
            #{head_sculpture},
            #{company_affiliation},
            #{attribution_department},
            #{name},
            #{email},
            #{phone},
            #{mobile_phone},
            #{remark}

    </sql>

    <!--添加代理商-->
    <insert id="addAgent" parameterType="com.brcd.bean.TbAgent">
     INSERT INTO tb_agent <include refid="insertSql"/> VALUE (<include refid="insertValueSql"/>)
    </insert>
</mapper>