<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brcd.mapper.TbBankcardInfoMapper">
    <!--添加银行卡信息-->
    <insert id="insertTbBankcardInfo" parameterType="com.brcd.bean.TbBankcardInfo" >
        INSERT INTO tb_bankcard_info (bank_id, bankcard_type, bankcard_name,
        bankcard_num, bank_name, bank_province,
        bank_city, bank_detailed, band_contact,
        business_uid)
        VALUES (#{bankId}, #{bankcardType}, #{bankcardName},
        #{bankcardNum}, #{bankName}, #{bankProvince},
        #{bankCity}, #{bankDetailed}, #{bandContact},
        #{businessUid})
    </insert>
</mapper>