<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brcd.mapper.TbBusinessUserMapper">
<!--修改商户信息-->
<update id="updateBusinessUser" parameterType="com.brcd.bean.TbBusinessUser">
    UPDATE  tb_business_user SET
    businessUserType=#{businessUserType} ,
    manageName=#{manageName},
    businessUsername=#{businessUsername},
    legalPeopleName=#{legalPeopleName},
    legalPeopleIdentityCard=#{legalPeopleIdentityCard},
    contactPeople=#{contactPeople},
    contactPhone=#{contactPhone},
    contactMail=#{contactMail},
    servicePhone=#{servicePhone},
    manageAddress=#{manageAddress},
    manageProvince=#{manageProvince},
    manageCity=#{manageCity},
    manageDistrict=#{manageDistrict},
    registerAddress=#{registerAddress},
    identityCardFront=#{identityCardFront},
    identityCardReverse=#{identityCardReverse},
    identityCardHand=#{identityCardHand},
    bankCardFront=#{bankCardFront},
    businessLicensePicture=#{businessLicensePicture},
    doorPicture=#{doorPicture},
    registerLicensePicture=#{registerLicensePicture}
    WHERE businessUid=#{businessUid};

</update>

    <!--添加商户信息-->
    <insert id="insertBusinessUser" parameterType="com.brcd.bean.TbBusinessUser">
        INSERT INTO tb_business_user(business_uid, affiliation_agent, business_user_type,
        manage_name, business_username, legal_people_name,
        legal_people_identity_card, contact_people,
        contact_phone, contact_mail, service_phone,
        manage_address, manage_province, manage_city,
        manage_district, business_license_no, register_address,
        identity_card_front, identity_card_reverse,
        identity_card_hand, bank_card_front, business_license_picture,
        door_picture, register_license_picture, business_user_status,
        start_time, end_time, business_user_key)
        VALUES (#{businessUid}, #{affiliationAgent}, #{businessUserType},
        #{manageName}, #{businessUsername}, #{legalPeopleName},
        #{legalPeopleIdentityCard}, #{contactPeople},
        #{contactPhone}, #{contactMail}, #{servicePhone},
        #{manageAddress}, #{manageProvince}, #{manageCity},
        #{manageDistrict}, #{businessLicenseNo}, #{registerAddress},
        #{identityCardFront}, #{identityCardReverse},
        #{identityCardHand}, #{bankCardFront}, #{businessLicensePicture},
        #{doorPicture}, #{registerLicensePicture}, #{businessUserStatus},
        #{startTime}, #{endTime}, #{businessUserKey})
    </insert>

</mapper>