<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" th:href="@{css/style.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/jquery.mmenu.all.css?v=5.4.4" th:href="@{css/jquery.mmenu.all.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
    <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.mmenu.min.all.js?v=5.4.4" th:src="@{/js/jquery.mmenu.min.all.js}"></script>
</head>
<body>
<div class="signin-form profile">
    <h3><span>欢迎商户登陆</span></h3>
    <div class="login-form">
        <form action="" method="post">
            <input type="text" placeholder="请输入您的用户名" required="">
            <input type="password" placeholder="请输入您的密码" required="">
            <input type="submit" value="登录">
        </form>
    </div>
</div>
</body>
</html>